@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_24pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('./assets/fonts/Cormorant-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('./assets/fonts/Cormorant-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Cormorant', serif;

  --type-heading-size: 58px;
  --type-heading-lh: 70px;

  --type-sans-lg-size: 22px;
  --type-sans-lg-lh: 26px;

  --type-sans-sm-size: 14px;
  --type-sans-sm-lh: 16px;

  --type-serif-lg-size: 24px;
  --type-serif-lg-lh: 26px;

  --type-serif-sm-size: 14px;
  --type-serif-sm-lh: 16px;
}

body {
  font-family: var(--font-sans);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
